# Build results
bin/
obj/
Debug/
Release/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/
*.sln.iml

# Blazor specific
wwwroot/css/app.min.css
wwwroot/js/app.min.js
wwwroot/service-worker.js
wwwroot/service-worker.published.js 